<table class="table table-dark">
<thead>
  Visualizar Frequencia
</thead>
<tbody>
  <tr class="table-active">
    
  </tr>
  <tr>
    
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Nome</td>
    <td>Frequencia</td>
  </tr>
  
  <br>
  

  <select>
    <option value="1">Selecione a materia</option>
    <option value="2">Matematica</option>
    <option value="3">Historia</option>
    <option value="4">Português</option>
    <option value="5">Biologia</option>
    <option value="6">Química</option>
    <option value="7">Inglês</option>
    <option value="8">Sociologia</option>
    <option value="9">Filosofia</option>
    <option value="10">Artes</option>
    <option value="11">Algoritmos</option>
    <option value="12">I read, we read, everybody read</option>
    <option value="13">Talk new</option>
    <option value="14">Se Liga Nas Financias</option>
    <option value="15">Educação Fisíca</option>
    <option value="16">Pesquisa</option>
    <option value="17">Projeto Integrador</option>
  </select>
<br>


   
    <td colspan="2" class="table-active">Ana Giulia</td>
    <td>82%</td>
  </tr>
  <tr>
 
    <td colspan="2" class="table-active">Arthur Guimarães</td>
    <td>94%</td>
  </tr>
  <tr>

    <td colspan="2" class="table-active">Arthur Salvaro</td>
    <td>76%</td>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Bernardo</td>
    <td>97%</td>
  </tr>
  <tr>

    <td colspan="2" class="table-active">Bhrenda Peçanha,
  
    </td>
    <td>85%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Gregory</td>
    <td>98%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Helena</td>
    <td>92%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">João Alberto</td>
    <td>89%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">João Ioshua</td>
    <td>90%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Juan Pablo</td>
    <td>95%</td>
  </tr>
  
    <td colspan="2" class="table-active">Kauã Frassetto</td>
    <td>95%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Kauã Henrique</td>
    <td>95%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Ketulin Naspoline</td>
    <td>91%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Kiany Coutinho</td>
    <td>88%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Maria Eduarda</td>
    <td>94%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Murilo Duarte</td>
    <td>96%</td>
  </tr>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Pedro Henrique Tomaz</td>
    <td>80%</td>
  </tr>
  
  <tr>
  
    <td colspan="2" class="table-active">Pedro Ivo Jung</td>
    <td>93%</td>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Ruan Idalencio</td>
    <td>94%</td>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Sofia Paganini</td>
    <td>91%</td>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Vinicius Nascimento</td>
    <td>96%</td>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Vitor Cypriano</td>
    <td>95%</td>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Vitória Becker</td>
    <td>90%</td>
  </tr>
  <tr>
  
    <td colspan="2" class="table-active">Vitória Dos Santos </td>
    <td>84%</td>
  </tr>
  
  <tr>
  
    <td colspan="2" class="table-active">Yohanna Alexsandra</td>
    <td>94%</td>
  </tr>
</tbody>
</table> 

</tr>