<h1><b>Chamada diária</b></h1>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <h6>Presente  /  Faltou</h6>
    
   
    <table border="2">
        
        
        <tr>
            <th>"Nome do aluno"
                
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        <tr>
            <th>"Nome do aluno"
            <input type="checkbox">
            <input type="checkbox">
        </th>
        </tr>
        
       
    </table>