<div class="cabecalho">
  <h1 class="titulo">Chamada</h1>
</div>

<div class="corpo">
  <div>
      <li class="instrucoes">Abra um aplicativo que leia QR codes em seu smartphone</li>
      <li class="instrucoes">Aponte para o QR code abaixo</li>
      <li class="instrucoes">Verifique se a leitura foi concluída</li>
  </div>

  <figure class="figure">
      <img src="imagens/qr.png" class="figure-img img-fluid rounded" alt="" style="padding-right: 10%;">
      <figcaption class="figure-caption"></figcaption>
    </figure>

    <button type="button" class="btn btn-primary" style="width: 90%; margin-top: -10%;">Escaneie acima <img class="imagem" src="imagens/smartphone.png" alt=""></button>
</div>