<body>
<div class="container">


<h1 style="color: rgb(32, 32, 187);">Planejamento De Aula</h1>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">materia</label>
    <input type="materia" class="form-control" id="exampleFormControlInput1" placeholder="digite a materia">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">assuntos</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  </div>
</body>