<div class="conteudo">
  <div class="calendario">
  <header>
      <a class="btn-ant" id="btn_prev" ></a>
      <h2 id="mes" style="text-align: center;" >ABRIL</h2>
      <a class="btn-pro" id="btn_next" ></a>
  </header>
  <table>
      <thead>
          <tr>
              <td>Dom</td>
              <td>Seg</td>
              <td>Ter</td>
              <td>Qua</td>
              <td>Qui</td>
              <td>Sex</td>
              <td>Sab</td>
          </tr>
      </thead>
      <tbody id="dias">
          <tr>
              <td class="mes-anterior">1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
          </tr>
          <tr>
              <td>8</td>
              <td>9</td>
              <td class="dia-atual evento">10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
          </tr>
          <tr>
              <td>15</td>
              <td class="evento ">16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
          </tr>
          <tr>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
          </tr>
          <tr>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td class="proximo-mes">7</td>
          </tr>
      </tbody>
  </table>
</div>
</div>