<section>
  <h1>Boletim</h1>
  <hr>
</section>
<div class="boletim">
<table border="1" style="width: 80%; margin-left: 10%; margin-top: 10%">
    <tr>
        <th colspan="5" style="text-align:center; color:#f78b1f"><i>Boletim</i></th>
    </tr>
    <h2>Aluno: Juan Pablo Victoriano Bunn Estegarríbia<br> Turma: 1º ano do EM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Curso: Técnico em Informática para Internet</h2>
    <h2>Feedback:</h2> 
    <h2 class="feedback2"></h2> 
    <tr>
        <th style="color:#005594;">Matérias</th>
        <th>1º trimestre</th>
        <th>2º trimestre</th>
        <th>3º trimestre</th>
    </tr>
    <tr>
        <th>Português</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Matemática</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Biologia</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Filosofia</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Sociologia</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Inglês</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Projeto Integrador</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Front End</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Algoritmos</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th>Publicar</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </table>
</div>
