<header>
<div class="top_line main">
<div class="container">
<div class="logo-imagem">
    <img class="logo-imagem" src="imagens/logo-senac.webp">
</div>
<section class="menu">
<div class="mudanca">
<ul class="mamae">
<li>
    <a>Menu</a>
</li>
<li>
    <a>Boletim</a>
</li>
<li>
    <a>Recados</a>
</li>
<li>
    <a>Menu da cantina</a>
</li>
<li>
    <a>Frequência</a>
</li>
<li>
    <a>Mapa da sala</a>
</li>
</ul>
</div>
<div class="cachorro">
</div>
<div class="boletim">
<table border="1" style="width: 80%; margin-left: 10%; margin-top: 10%">
    <tr>
        <th colspan="5" style="text-align:center;"><i>Boletim</i></th>
    </tr>
    <tr>
        <th>Matérias</th>
        <th>1º trimestre</th>
        <th>2º trimestre</th>
        <th>3º trimestre</th>
    </tr>
    <tr>
        <th>Português</th>
    </tr>
    <tr>
        <th>Matemática</th>
    </tr>
    <tr>
        <th>Biologia</th>
    </tr>
    <tr>
        <th>Filosofia</th>
    </tr>
    <tr>
        <th>Sociologia</th>
    </tr>
    <tr>
        <th>Inglês</th>
    </tr>
    <tr>
        <th>Projeto Integrador</th>
    </tr>
    <tr>
        <th>Front End</th>
    </tr>
    <tr>
        <th>Algoritmos</th>
    </tr>
    <tr>
        <th>Publicar</th>
    </tr>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th></th>
    </tr>
    <tr>
        <th></th>
    </tr>
    </table>
</div>
</section>